/* CSS Overrides etc */

body {
  padding: 58px 0 120px 0;
  background: #aab9c8;
}

.container-dark {
  position: relative;
  z-index: 1;
  padding: 1rem 0;
  background: #343a40;
  color: white;
}

.container-angled {
  margin-bottom: 3rem;
}
.container-angled::before, .container-angled::after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.container-angled::before {
  top: 0;
  transform: skewY(1.2deg);
  transform-origin: 100% 0;
}

.container-angled::after {
  bottom: 0;
  transform: skewY(-1.2deg);
  transform-origin: 100%;
}